:root {
  /* colors */
  --primary-color: #c41230;
  --secondary-color: #261c02;
  --white-color: #ffffff;

  /* font size */
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-body: 1rem;
  --font-size-small: 0.875rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
